In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
fake=pd.read_csv("Fake.csv")
genuine=pd.read_csv("True.csv")

In [ ]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    1202 non-null   object
 1   text     1202 non-null   object
 2   subject  1201 non-null   object
 3   date     1201 non-null   object
dtypes: object(4)
memory usage: 37.7+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3703 entries, 0 to 3702
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    3703 non-null   object
 1   text     3703 non-null   object
 2   subject  3702 non-null   object
 3   date     3702 non-null   object
dtypes: object(4)
memory usage: 115.8+ KB

None

In [ ]:
display(fake.head())
display(genuine.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [ ]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News    1201
Name: subject, dtype: int64

politicsNews    3702
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
data=pd.concat([fake,genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                   text  target
0     Donald Trump just couldn t wish all Americans ...       0
1     House Intelligence Committee Chairman Devin Nu...       0
2     On Friday, it was revealed that former Milwauk...       0
3     On Christmas day, Donald Trump announced that ...       0
4     Pope Francis used his annual Christmas Day mes...       0
...                                                 ...     ...
4900  SAN FRANCISCO/WASHINGTON (Reuters) - More than...       1
4901  WASHINGTON (Reuters) - U.S. Treasury Secretary...       1
4902  WASHINGTON (Reuters) - U.S. Treasury Secretary...       1
4903  WASHINGTON (Reuters) - President Donald Trump ...       1
4904  WASHINGTON (Reuters) - The U.S. Senate Banking...       1

[4905 rows x 2 columns]

In [ ]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [ ]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [ ]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

4419    washington reuter u.s. presid donald trump tue...
3962    reuter u.s. presid donald trump said consid qu...
310     meet jame stachowiak look familiar you may rem...
4588    washington reuter the husband white hous advis...
4393    alexandria va. reuter u.s. repres ron desanti ...
Name: text, dtype: object

4419    1
3962    1
310     0
4588    1
4393    1
Name: target, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.fit_transform(x_test)
print(tfidf_train)

  (0, 18461)	0.04785054165692876
  (0, 10490)	0.053580464095820214
  (0, 22090)	0.03966309796518682
  (0, 22937)	0.047063267060892526
  (0, 23984)	0.022770750794933632
  (0, 13552)	0.03775828053064006
  (0, 21782)	0.021704422986365646
  (0, 10502)	0.05373583906771263
  (0, 16001)	0.054890964048206606
  (0, 4957)	0.03368106195226771
  (0, 5603)	0.02631904901476194
  (0, 8879)	0.04187261242668751
  (0, 2657)	0.030972705115123376
  (0, 10767)	0.04425614842473213
  (0, 17120)	0.03548497447728666
  (0, 2176)	0.024661534661297883
  (0, 19857)	0.05579892501536623
  (0, 21801)	0.017996499110291872
  (0, 6085)	0.04492707064951133
  (0, 9708)	0.024286625768950534
  (0, 20888)	0.059401679633252234
  (0, 6026)	0.02140246201512673
  (0, 21115)	0.027060530403967324
  (0, 16103)	0.020719273091035648
  (0, 5904)	0.04374789582779992
  :	:
  (3677, 23356)	0.11986489194379096
  (3677, 19024)	0.24197488430301775
  (3677, 5569)	0.07099748624262718
  (3677, 4621)	0.19963400583346402
  (3677, 16362)	0.0749388040947553
  (3677, 7907)	0.06629106932836022
  (3677, 5603)	0.07159631923465384
  (3677, 6026)	0.05822161362985046
  (3677, 3520)	0.0659008824251733
  (3677, 22636)	0.06799486770945556
  (3677, 14262)	0.3003593322148857
  (3677, 3046)	0.11596413339090678
  (3677, 5777)	0.06778747857302005
  (3677, 10483)	0.040119398675791604
  (3677, 23024)	0.07136198696671787
  (3677, 11754)	0.060921336374635475
  (3677, 22012)	0.059152858526289355
  (3677, 3681)	0.14496687728202057
  (3677, 10655)	0.07122891734930194
  (3677, 14795)	0.06726081982398834
  (3677, 12998)	0.06054978906165538
  (3677, 11005)	0.04858543054796377
  (3677, 23786)	0.044869037956025745
  (3677, 22373)	0.07213906109996354
  (3677, 23531)	0.04488257173549141